<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div class="card">
    <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/449684127_464019246237687_7658999675296200762_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=Z-R9F02mgPsQ7kNvgE4jbr-&_nc_oc=Adg-r1Z09j83orllOMegDMIq0Ck2IIRSnQk0RN4hKx_3wFvw5Y3_JpjK5TODSQa_QW0&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AERKODt_-TgHsN_Pav70WOV&oh=00_AYBN9HLq46vII3oe5rEMCvPq0kVGkk1HmVwsrtgzO1fCNA&oe=676F9C85" width="1000" height="600" class="card-img-bottom" alt="Imagen del producto">

    <!-- Contenedor de los iconos -->
    <div class="card-icons">
      <a href="https://www.facebook.com/licoreriaa" target="_blank" class="icon-link">
        <i class="fab fa-whatsapp fa-3x"></i>
      </a>
      <a href="https://www.tiktok.com/@licoreriaaquilicor1?is_from_webapp=1&sender_device=pc" target="_blank" class="icon-link">
        <i class="fab fa-instagram fa-3x"></i>
      </a>
      <a href="https://www.google.com/maps/@-17.3493801,-63.2613298,3a,90y,20.23h,178.04t/data=!3m7!1e1!3m5!1swUqVCtVW_jClycdSw29LMw!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D-88.03999999999999%26panoid%3DwUqVCtVW_jClycdSw29LMw%26yaw%3D20.23!7i13312!8i6656?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="icon-link">
        <i class="fas fa-map-marker-alt fa-3x"></i>
      </a>
    </div>
  </div>
</body>
