.card {
  position: relative;
  overflow: visible;
}

.card-icons {
  position: absolute;
  bottom: 20px;
  left: 7%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  gap: 20px;
}

.icon-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon-link:hover {
  color: #007bff;
}

.card-icons i {
  transition: transform 0.3s ease;
}

.card-icons i:hover {
  transform: scale(1.2);
}
