<body>
  <!-- Navbar con el buscador -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">INICIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#caracteristicas">COMBOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#producto">PRODUCTO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#acercade" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              TIENDA
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#caracteristicas">COMBOS</a></li>
              <li><a class="dropdown-item" href="#producto">PRODUCTO</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#pagos">PAGOS</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pagos">PAGOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">ACERCA DE</a>
          </li>
        </ul>

        <!-- Formulario de búsqueda -->
        <form class="d-flex position-relative" role="search" id="searchForm">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <!-- Resultados de la búsqueda -->
          <ul id="resultList" style="display:none;">
            <li>Producto A</li>
            <li>Producto B</li>
            <li>Producto C</li>
            <li>Producto D</li>
            <li>Producto E</li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
</body>
