<body>
  <div class="main-container">
    
    <!-- Sección de Productos -->
    <section id="productos">
      <h2 class="section-title">CAJA DE CERVEZAS</h2>
      <div class="row">
        <!-- Producto 1 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/468397568_562798483011109_1810053813083570773_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=u8W0QXv1eOwQ7kNvgFkRFDw&_nc_oc=AdjahdHOTuNFhbcAUprwf9TnjYe4iQNBWuwSt13O4RMDW-KSjDUIq7YY5o4pNGrTkr8&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AEOtgpSgrQZFZvLSRpsYnjT&oh=00_AYD3K2ezu_qJIKWDS2IfA7sFoeKfYPacFcJAVA5iGhAUMQ&oe=676CD7B9" alt="Vape Model X">
          <div class="card-body">
            <h5 class="card-title">PACEÑA</h5>
            <p class="card-text">$150.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 2 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/468588510_562798776344413_7664451808585452910_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=VHnLWE8BUscQ7kNvgHa8z4g&_nc_oc=AdgfXh5sSWXgx-tsq1qAhPtbn8dRiIJ18Wpu33b9nMQMV4Er9Y6GjII9Z2tguCx0RUk&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AB8rSiqLYr_mfIF98Zr2qjk&oh=00_AYA_hR2Xd5cLntXp210FGzjolMwDcUrX-wR1RGscH0_uXw&oe=676CDB2B" alt="Vape Model Y">
          <div class="card-body">
            <h5 class="card-title">QUILMES</h5>
            <p class="card-text">$130.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 3 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/468406256_562798979677726_8301763863150490461_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=1f0vpnsAy4MQ7kNvgHTTNYv&_nc_oc=AdgJIuXjSnuLpmfojxQzzFdCElyHvH2EF4chkRlso5fGtuG1f7Afkt4rrZ6PqRgv7kk&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=A30ay7k1Njp5VydBWg5MBCd&oh=00_AYCJGjY4zrj0Cz48USbwf8CTdHv7LBXwnrPvTKRL3liHsg&oe=676CDF92" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">DUCAL</h5>
            <p class="card-text">$150.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 4 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/468210196_562800123010945_6695876482623390692_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_ohc=M-r9RaeyS3QQ7kNvgHAlTIH&_nc_oc=AdgeFz0YZSj0YoCok0c-Y79vSzjIxUA8Uw0mFHBpKUXrdtX717gLfVC5LrMmBxDt0wk&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=AyVjUJrgBBsEzmyqmz7f4LV&oh=00_AYBL6nRdbQqlrXTyYcSA6DirbYFt9kAayxoPH9IkEzxGPQ&oe=676D0186" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">SKOL</h5>
            <p class="card-text">$140.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 1 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/469522731_568060779151546_7295678571417156405_n.jpg?stp=c359.0.945.945a_dst-jpg_s206x206_tt6&_nc_cat=105&ccb=1-7&_nc_sid=50ad20&_nc_ohc=TzUH829HpB4Q7kNvgET93dV&_nc_oc=AdhPhH9iPY3nRXjzfhRRHaLDLwqacjGVjnZH7m8_Axl9xvisZXJIYVbv5hsnbdsYs8w&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AKQ0KvSChyazBEycJr5627a&oh=00_AYDOtKd6QYbsE9hcZs4hXq2AdLPHkpz1OQVac3ZvOBFaQg&oe=676D09BF" alt="Vape Model X">
          <div class="card-body">
            <h5 class="card-title">CORDILLERA</h5>
            <p class="card-text">$120.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 2 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/406447075_339730225333257_1165832403218924859_n.jpg?stp=dst-jpg_s206x206_tt6&_nc_cat=102&ccb=1-7&_nc_sid=50ad20&_nc_ohc=Pnl0Ag2C-a0Q7kNvgEZxgLh&_nc_oc=AdhADuEmfm1uDb2pKM2wR0a4X7hAW2rh8K9fs-I3KMMojbz52nzEp3w9KLVdEqWhR2M&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=ALl81s6jDLenWKoXoxIzgjD&oh=00_AYCf2oB10Nh6HHI-SuoDRTnjtXqu2v0evAbE2SdVaw0Sqw&oe=676CD51C" alt="Vape Model Y">
          <div class="card-body">
            <h5 class="card-title">TAQUIÑA</h5>
            <p class="card-text">$108.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 3 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406435556_339730191999927_5500151236487985486_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=x9Uorq3S9v4Q7kNvgH4NHRW&_nc_oc=Adj24ZJN38WKzMXwvja4GAIGSbCjOD-Mf5SIYFaBmJl6GHeaMG_bo5aoJgeMCnM-gXg&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=ATz8gvOH5P0EJsul9vCM3gH&oh=00_AYCDi68JNZCLi_DtrauhVljx3oscUt6YTURQ1RbyRwTM4g&oe=676D0865" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">BRAHMA</h5>
            <p class="card-text">$120.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 4 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406397948_339730305333249_4862911540790819558_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=0V1bD5UZQJ0Q7kNvgGo-9vG&_nc_oc=AdiHE71Wtv42c5ePNa-eXfndSW4jgzqbvb32gExeaBD-SweQbQK9LPoKY_lOVKgrDI4&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=ACcv3UqOFq83dpznUUuLu8b&oh=00_AYA3P9Ch2ElekX-iFCfqbROGAI7cfe-xAa44GtzDNBrGrg&oe=676D02C8" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">HUARI</h5>
            <p class="card-text">$240.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 1 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406397975_339730178666595_2983475152960745568_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=V4jRbiHzKPkQ7kNvgHEajab&_nc_oc=AdjKJKnuT0QPUdowHncXf7tY2PlQ4UCLlmyvIgxQICBQM9yJBKPP5p1SmqJ-pbBQqEw&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AUPbIhb_4I8amNPYf8fOibX&oh=00_AYDGtN7iBerbf2CibpwAxiWH6L7mTzlYIKPl58gpuYC60w&oe=676CFC56" alt="Vape Model X">
          <div class="card-body">
            <h5 class="card-title">CORONA</h5>
            <p class="card-text">$240.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 2 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/468499475_562798453011112_5516793678161137624_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_ohc=DR5R2dOtpSoQ7kNvgGWQ5Et&_nc_oc=AdikiprQF-lH_SbEnW-NxkPbbqisqVh-xBRFE7R2lLpBklEfJXbU3HqqQOUN4kOlfsE&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=An2bVkDJss-GPRtjlYIMPxQ&oh=00_AYDF_DLwajqPO4Ylr5Ku6kfe9T2CyJFaFKnc-3TwRs8Xvg&oe=676CD70A" alt="Vape Model Y">
          <div class="card-body">
            <h5 class="card-title">MOEMA</h5>
            <p class="card-text">$110.00</p>
            <a href="#pago" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 3 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/468364591_562798566344434_5951739020256913425_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=R_U67QLu3vQQ7kNvgECt883&_nc_oc=AdgB4MHqHHR2rKrwEchJmYZT3QdAlc-4WcF1h3JoEH9OMZJ1rl2N9zu-RdbPP9bLcNU&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AgFFH5_j58EN0IXYCmhjEAZ&oh=00_AYC1ALGzddsVXrAwtw5oxKJhUbxNFRQDv7I-0OpXxEfZPw&oe=676CDF22" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">ICE</h5>
            <p class="card-text">$120.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 4 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/468433228_562798753011082_8873930999966579346_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=QWna5WJ767UQ7kNvgGc5xVl&_nc_oc=AdjCeuiTIPkArobJOXhhSa8rvCMvrb75W-y5Igv99hNRE0cn_ZDai5hbNND902ud8ZM&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=AZC6Pfi3tyxIEwS81hovtg_&oh=00_AYCmIjy8Ev9DWSs_7H5sHgW7KiJOyq6fOGldwlLFYqavnA&oe=676D0E57" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">ICE</h5>
            <p class="card-text">$130.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 1 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/468429415_562798579677766_124332811600393699_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_ohc=LjDdYToB4v0Q7kNvgGafsPs&_nc_oc=AdjikLPpI6wRbkR3Md4sO9JDE8zT1oklQZwToIWue_9qOdylloKn4dJ4-46y4gMzS-s&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=AcNhSpRaE00qgn_l0v02hfP&oh=00_AYDEai-EKVmyFSQYRPf5LN-Z8EMn_iyC1U4ByU4sNzI0Ow&oe=676CDDE7" alt="Vape Model X">
          <div class="card-body">
            <h5 class="card-title">CONTI</h5>
            <p class="card-text">$130.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 2 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406514543_339730138666599_3082579147117450010_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=kvs4np-F2dIQ7kNvgHlWS5p&_nc_oc=AdgNhYkeayAoSNLNpoX9bHlchAXaT8sVhQ7wPDCMcwGHXgDJlTgB_B1l5yO4l7nmAtA&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AQICfDutBYhR8hB_lv02qvD&oh=00_AYA4vpZ-pJ6UTa3Or_oJuExTeyHmxWFBfZ0S-iI4kmuGcw&oe=676D165E" alt="Vape Model Y">
          <div class="card-body">
            <h5 class="card-title">BUDWEISER</h5>
            <p class="card-text">$130.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 3 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406472023_339730115333268_488961009532466795_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_ohc=BHFn2DnivhMQ7kNvgEJyiXQ&_nc_oc=AdhZpSJ6V8KljU78oWKWNIuwi5IA2JgMJ022q_wDfjc0QihQ1-Nbaz4uW4lfTeMJtXU&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=A08N_saJ4gMjSn8MujkYzqi&oh=00_AYCHClCtmGlnY7urUhcCmnrzQ7vWjBCd9UnpQUwaS4hMYA&oe=676CF711" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">GOLDEN</h5>
            <p class="card-text">$120.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 4 -->
        <div class="producto-card">
          <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/405706759_339730095333270_5154389209307486435_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=_n0HfNLrDboQ7kNvgEgXlG2&_nc_oc=AdhsrWQmpuqIX_HDoZNjt8PYSj-DEzdPh2TaEGGtwvIUKaUrz5yBrUPbZ2LKUlWMtE0&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=Armx0TfhtARbcuwRQroEBZu&oh=00_AYCaJ7JRk5KeVWq_LB3lwEjTqP3IEIemC6TRKM4wAnKhpw&oe=676D006B" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">CORONA</h5>
            <p class="card-text">$120.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
      </div>
    </section>
    <section id="productos-rones">
      <h2 class="section-title">CAJA DE RONES</h2>
      <div class="row">
        <!-- Producto 1 -->
        <div class="producto-card">
          <img src="https://www.fidalga.com/cdn/shop/products/2f49eaa3-31a8-408f-ad67-a87893be4011.jpg?v=1653343521" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">RON BACARDI RASPBERRY</h5>
            <p class="card-text">$80.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://amarket.com.bo/cdn/shop/files/7891125064465_700x700.jpg?v=1718221398" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">RON BACARDI MOJITO</h5>
            <p class="card-text">$102.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://monlacata.es/wp-content/uploads/2017/03/RON-BACARDI-1L.jpg.png" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">RON BACARDI CARTA BLANCA</h5>
            <p class="card-text">$110.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://socialdrinks.pe/wp-content/uploads/2022/05/1480_1380746.jpg" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">RON BACARDI GOLDEN</h5>
            <p class="card-text">$120.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
          
        </div>
        <!-- Producto 2 -->
        <div class="producto-card">
          <img src="https://jumbo.com.pa/1159-large_default/ron-abuelo-anejo-1750ml.jpg" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">RON BABUELO 1750 ML</h5>
            <p class="card-text">$145.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://vinosylicores.com/cdn/shop/files/ronabub.jpg?v=1731329710&width=1200" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">RON ABUELO 750 ML </h5>
            <p class="card-text">$95.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://socialdrinks.pe/wp-content/uploads/2024/08/2090_78414-443x1024-1.jpg" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">RON ABUELO  200 ML</h5>
            <p class="card-text">$50.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://walmartsv.vtexassets.com/arquivos/ids/628881-800-450?v=638696301105900000&width=800&height=450&aspect=true" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">RON ABUELO 7 AÑOS </h5>
            <p class="card-text">$120.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
          
        </div>
        <!-- Producto 3 -->
        <div class="producto-card">
          <img src="https://www.fidalga.com/cdn/shop/products/flor-de-cana-anejo-oro-4-years-1114284_1_grande.jpg?v=1653344690" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">FLOR DE CAÑA</h5>
            <p class="card-text">$75.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://licorhouse.com/cdn/shop/products/0307-100750_580x.jpg?v=1597266441" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">FLOR DE CAÑA</h5>
            <p class="card-text">$110.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://dcdn.mitiendanube.com/stores/003/615/589/products/flor-de-cana-gran-reserva-7-anos-black1-dda57dc7d28cc5ddf216660968943526-1024-1024.jpg" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">FLOR DE CAÑA</h5>
            <p class="card-text">$130.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://rebajame.com/wp-content/uploads/2020/05/Flor-de-Cana-5-1750-scaled-1.jpg" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">FLOR DE CAÑA</h5>
            <p class="card-text">$120.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <!-- Producto 4 -->
        <div class="producto-card">
          <img src="https://devsanddesign.com/public/img/product/ron.webp" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">KAYANA</h5>
            <p class="card-text">$4O.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://amarket.com.bo/cdn/shop/files/8501110080903_1024x1024.jpg?v=1712346010" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">HAVANA ESPECIAL</h5>
            <p class="card-text">$8O.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://amarket.com.bo/cdn/shop/files/8501110080446_1200x1200.jpg?v=1712346017" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">HAVANA CLUB</h5>
            <p class="card-text">$11O.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <div class="producto-card">
          <img src="https://prod-resize.tiendainglesa.com.uy/images/medium/P322314-1.jpg?20220111110027,Ron-HAVANA-CLUB-Anejo-3-Anos-Blanco-750-ml-en-Tienda-Inglesa" alt="Ron Bacardi">
          <div class="card-body">
            <h5 class="card-title">HAVANA CLUB 3 AÑOS</h5>
            <p class="card-text">$9O.00</p>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

