
<body>
  <div class="bg-img">
  <!-- Sección de Características -->
  <section id="caracteristicas" class="container mt-5">
    <h2 class="section-title text-center mb-5">COMBOS DE TRAGOS</h2>

    <div class="row justify-content-center">
      <!-- Producto 1 - Vape Model X -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/406448753_339729941999952_8876658469638099048_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=833d8c&_nc_ohc=yZHWXHjKZ8IQ7kNvgGXMWtJ&_nc_oc=AdgCw89Hu-1g6rwRVVeIQkvUp7PNunj23PaEPsJ67N7ETO2JkJScL6cY_G7OBDejGQk&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=AMIZclhVHyeYOL9ZIkNx_i8&oh=00_AYBjqm1b6TbbnzdVs6qbUpKAEmz7jaZ29Vlh5mkQgx9_fw&oe=676F69E9" 
               class="card-img-top" alt="Vape Model X">
          <div class="card-body">
            <h5 class="card-title">COMBO</h5>
            <p class="card-text">$162.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>GIN BEEFEATER PINK 750 ML.</li>
              <li>3 SANTE</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      

      <!-- Producto 2 - Vape Model Y -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406422064_339729901999956_3756848101130172936_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=cjWaaJBorxoQ7kNvgFQTaRT&_nc_oc=Adi9Pr4KGKildcUqe5S57aaNm0EDYpBG4t92kmf0NLLmsJDulG291jeGXW9dhpy5N-U&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AahCEOSHHL6dAQGTzjzeYFw&oh=00_AYDLbKBB4IEvGcnapPX4E7kRvSvaW-ERgHPlIsBRQndKAQ&oe=676F5013" class="card-img-top"
            alt="Vape Model Y">
          <div class="card-body">
            <h5 class="card-title">COMBO  </h5>
            <p class="card-text">$78.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>SKY PINK </li>
              <li>SODA SPRITE 3 LITROS</li>
              <li>1 HIELO</li>
              
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>

      <!-- Producto 3 - Vape Model Z -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406503374_339729885333291_904818106666733603_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=_BLcVr36KDgQ7kNvgFFAa_3&_nc_oc=Adiah8DtDpsAXdPahMu03fB6mnasszE_DBsvkJQB8iHEWEqtwixwRFplRm30OLRdkRY&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=ACdyPjwWCMGMZdSnA-IcXaQ&oh=00_AYDU8E_07BhK3v5skELGvBE2oHHoiJgGZ2gHnqxLg2lZ1A&oe=676F56A7"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO  </h5>
            <p class="card-text">$55.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>RON KAYANA</li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
              
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
      </div>
      <!-- Producto 4 - Vape Model Z -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/405711132_339729871999959_845055672394564793_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=7veDSa3KdMMQ7kNvgFs6xkP&_nc_oc=AdhdyeXZix8xigQ_tTT1E-NblGx-8avHCOwBdi8tM2c3Js9dzJp_V7sgt8A22nc4nqc&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AbUBwfmAGf8K9HwCZZspMBi&oh=00_AYDZs8yOw-5ffFVLScOEGDUeMygdgMVyIK98aqBsS_K6hQ&oe=676F6DFD"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO </h5>
            <p class="card-text">$60.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>FERNET MENTA   </li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
          
        </div>
        
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406401347_339729845333295_2697448229941262974_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=EzlDJRGrXzsQ7kNvgEGg59i&_nc_oc=AdjmdIBsvqYJwxrpk68zm3hrQElB0mU21uSaDELP_EJ2HnAtu9KA2hI00vXKWrpwT6o&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=ALrmOe6ZX2y4DeyKv_xA9xn&oh=00_AYDM7CWMrrdG9do2_2j0w2Z8-Sru3NxNqUnhC2kCpvNvTA&oe=676F7ADD"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO </h5>
            <p class="card-text">$75.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>FERNET BRANCA   </li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406451364_339729835333296_3343733200621434131_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=H2BZIeNBW3YQ7kNvgG-pJNV&_nc_oc=AdhW10ncMa0R52EPkoDDJmIa6oS8DyH8mf0niwbld5Esity_B71yvg4alKVaF_5Rt4c&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=A5oMQ7hmcoXyCxwC0hDVzLa&oh=00_AYBXWBjNsb4ZywVqoVpoLz4mfWJUqoPL69j6ihIeFstIiA&oe=676F753E"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO </h5>
            <p class="card-text">$105.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>RON HAVANA CLUB RESERVA</li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406403954_339729821999964_2165375830435523163_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=UNpeJFaKwfMQ7kNvgF57tX4&_nc_oc=AdgISvRxd5tW8QcisEQOfA3Qg2jwsaHsdgO0W8ZOn6wKzLRvcNrcQJeL3QpjbZ4OU1k&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=ANffEkmcfMgPrMNhCRkd0nq&oh=00_AYDBtIWBfcWr7JtFuTXJfEUr-TMDBWcvrteV6sKIfNCXLg&oe=676F8DBD"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO </h5>
            <p class="card-text">$90.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>RON HAVANA CLUB ESPECIAL</li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/406459643_339729808666632_2910250435151420089_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=833d8c&_nc_ohc=SRGz2v2IEwkQ7kNvgHsgShv&_nc_oc=Adi_284owTRu5XSFnx6-ogSr5IRfFN7dOKQtMl9GbhmW4Zt0JxwJWMulZybF9QZSmoQ&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=ARJH2_jweNg7mwmSpR8Z1kr&oh=00_AYC0a1h0rNuieJUBjZ-sGZbtoFeNo91FAAA8Pp7QFjhMDQ&oe=676F7A20"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO </h5>
            <p class="card-text">$105.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>RON HAVANA CLUB 3 AÑOS</li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406459125_339729148666698_7605053195515548896_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=SvNaKFg1BuAQ7kNvgGfg2bX&_nc_oc=AdgmZ98iEbKw81oNEaniiSUGI8p9rgwiO9m84tIcn0VGetfbYxklGwhHYKriQPwfFDo&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=ACGY1ADKWHbsnDks6__a3X7&oh=00_AYCQluZFvP3fbfShDaGxdaFokhw74ejYwnBU_ZY66BEFGQ&oe=676F9DBB"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO </h5>
            <p class="card-text">$120.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>RON HAVANA CLUB 7 AÑOS</li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406422242_339729128666700_8446562411009739977_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=q4y2wtpUjg8Q7kNvgFmWjuV&_nc_oc=AdiRell2x27x_q3Cv1khFGMeSwcGXdAlqVvUWAsiTVlNVJpfwwWYCtVZnO3z4VdVffg&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AiqNF_GJPARl3y4R3FFj_fQ&oh=00_AYDmfD1o8sHPwFG2YGa1Bg_sc7YZLb_KrrhkyHXLSrojtA&oe=676F96D3"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO </h5>
            <p class="card-text">$130.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>FLOR DE CAÑA 2 LITROS</li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
        
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/406465126_339728995333380_735846512642505587_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_ohc=3KIQSWWR1DwQ7kNvgGd3yzy&_nc_oc=AdixZ6kBd2WZ7U-ZmKIvQ3wrMjG6b-aQlXxY1Xx5ao_11SRuHB1BpX64nSNkvkz21UU&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=AKRfgh7o_DEELM1wEE1VJyP&oh=00_AYDjxYFfqfBZAuP44PdfYgqASTWpKLHhqJZHfII-nMoFGg&oe=676F89D3"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO </h5>
            <p class="card-text">$80.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>FLOR DE CAÑA 3 LITROS</li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
        
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/405720344_339728752000071_2238442885192652052_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_aid=0&_nc_ohc=xIjMKiOGaLYQ7kNvgE7_xxY&_nc_oc=AdircdWJ5Gu7zOaEAepu6YNNM1IxgiCd_m2K_5S1YpjgK9Yno1GDjn91nl0OW2E3fUk&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AQphh9UHjhp4e3FE4KSmx7k&oh=00_AYDAbcEUiAMOYFwWxCWXRUfjwAEznHW5hDCWox4xRLf4qg&oe=676F882A"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO </h5>
            <p class="card-text">$145.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>RON ABUELO 2 LITROS</li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
        
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card producto-card">
          <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/406483469_339728632000083_93806833641569797_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_aid=0&_nc_ohc=rxXmEP5MdQQQ7kNvgHgXU0t&_nc_oc=AdjhgseKRS34gGctCD83v8OS6p98t3-h6O38bVxq6Hon5_gHAWTU9WgjcQxz1CrDvPI&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=AXwtzU9KGsucHHPSzkf6xku&oh=00_AYBOfVQF654w2vIjhSNbGShPSuCFsrgXk70s4u7dGLxchw&oe=676F9F2D"
            class="card-img-top" alt="Vape Model Z">
          <div class="card-body">
            <h5 class="card-title">COMBO </h5>
            <p class="card-text">$95.00</p>
            <h6 class="mt-3">Características:</h6>
            <ul class="feature-list">
              <li>RON ABUELO 1 LITROS</li>
              <li>SODA COCA COCA 3 LITROS</li>
              <li>1 HIELO</li>
            </ul>
            <a href="#pagos" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        
        
      </div>
    </div>
  </section>
  </div>
</body>

