<body>

<header>
    <h1>Bienvenidos a Licorería El Buen Trago</h1>
    <p>Los mejores productos alcohólicos a tu alcance</p>
</header>



<section id="productos">
    <h2>Productos</h2>
    <p>Ofrecemos una amplia variedad de productos, desde vinos, cervezas hasta licores premium.</p>
    <div class="products">
        <img src="https://amarket.com.bo/cdn/shop/files/7772107000087_700x700.jpg?v=1712346406" alt="Vino">
        <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/384997393_308321095140837_8575519728818659154_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=_toDVNiM1ukQ7kNvgE5zFCX&_nc_oc=AdhybveNIomNCHwGJZB6BMvABrkAFKfRkVKY6mjqerfsM_wuU6XHWSiPVaGEMcGvSwo&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=ACmG4ke8wdrH8eyc3Zfz7tA&oh=00_AYA3vC24skFBddjTz_WmdTvzUuv1xg0kvO5e6T78m65x3Q&oe=676F8A1F" alt="four loko">
        <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/406401333_339729988666614_7824666469082947160_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=J2BquCIYWuoQ7kNvgGwS5Sd&_nc_oc=Adh2I1ovBgLKy8iv3UumZ2TmXz3iJvQbnlmCXAjRkTsGPI0P2Kdzh2cb2RHiTITZj6g&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=AKonhNvZCRVy8w64hkgEoei&oh=00_AYAMHIPUwpx6IvI78BFQAB2MTHjyziEBtVx6gVIHOX8jZg&oe=676F8563" alt="Cerveza">
        <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/469241248_568064959151128_1327610972569574782_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=Vp2QL2FpXFwQ7kNvgGAWR3e&_nc_oc=Adiy7HkpcfRPmUWF2w2VO5PBIONgRssSgSGE0ilBl_6t5JyoaM-BgFaFoTtP7x_uvpg&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=AdmiwVgBEvEDrqN5MNFfrqT&oh=00_AYApCu1Yeaj0ggWuxfBxWUUfL9l1ZWUuMPZ1enYewc-FbQ&oe=676F843A" alt="Licor Premium">
        <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/470129643_572715138686110_607113319129630058_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=xi_-uiVIpI0Q7kNvgG2OVP6&_nc_oc=AdgUx457w_qb6n8VoQO6lbZLgWlHYVKvtANCS-gEpTAQb9G055aGkyIwSPIFrrKqh7g&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=AB96zCPlCljQf5LoVd_Yc57&oh=00_AYAtAjqcaOa4Rf-35cut3qOLYMt8Lubdbr83aLt135TkWg&oe=676F90CE" alt="cigarros">
    </div>
</section>
<section id="promociones">
    <h2>Promociones Especiales en Licorería</h2>
    <p>¡No te pierdas nuestras increíbles promociones! En Licorería El Buen Trago siempre buscamos ofrecerte lo mejor para que disfrutes de tus momentos especiales.</p>
    <div class="memes">
        <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/320378783_1389322578560527_3517115224942619145_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_ohc=DCXa1ozE2UMQ7kNvgG__KUq&_nc_oc=Adh2aqfov5vzX1gqSC_Sdd8iPk5sxS4ryLUbgUC4QhiMiob1ThtVAmuwoLEPKTmFHZo&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=Aa-dx2eyh9_A4U_fdqOzQzP&oh=00_AYBXn9n0dOoXED-hJN72U9qkoB1fCbdmBMl-gtzD9eYaTA&oe=676FB0C9" alt="2022">
        <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/413954888_353164553989824_6412987033727221108_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=87RbcVC6IjYQ7kNvgH7KzpK&_nc_oc=AdhjfFyQZu8UmICqJeCIBuN-f7QSdKK5ryO9_mp3rNksZyuC1K9kKTGBO8qoKOf6A7Q&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=A9D4jS_DfHe8zwp1BRqAqVJ&oh=00_AYBbKe6qAUHC8ezwGd8PbhkrH55xP0-q6Ls4eau_P26CWQ&oe=676F8849" alt="2023">
    </div>
</section>
<section id="ubicacion">
    <h2>Ubicación</h2>
    <p>Nos encontramos en el barrio feria del carmen, en la siguiente dirección:</p>
    <address>
        Calle 16 de julio, Montero
    </address>
    <p><strong>Horario de atención:</strong> Lunes a Sábado, 08:00 AM - 23:59 PM</p>
</section>



<section id="memes">
    <h2>¡Para Sacarte una Sonrisa!</h2>
    <p>Porque un buen trago va acompañado de una buena risa, disfruta de estos memes:</p>
    <div class="memes">
        <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/469325014_569124762378481_2182616328280653216_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_ohc=3_k9jX0gY14Q7kNvgFONst3&_nc_oc=Adgfq4bZThrUkeforH7vfd9ocRR6nJVExwgBBKLVt8bKfJYfS2lj4UpMA_HqNp9TyzQ&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=AZPsQEZFkr8yk24bAp59lE0&oh=00_AYA5LG_ZmfPU6-8woAwMuGl1SAMREMnYvQLBPlgEaqWOAg&oe=676F8697" alt="Meme 1">
        <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/469221288_568618855762405_3876910262153600713_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_ohc=X9e8-Zgb7iwQ7kNvgG6u1EA&_nc_oc=Adi4qkiUJYLZt7tKsOH_nCCMHkiv8YiI42Greq5ABDBMm28hYNjhoB_KPx22VvuJl8k&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=Aga6B-bsLxGhOvUVA1fMQEl&oh=00_AYBs4jt0YOHAv645vm8MOw42wi1ULU7AknOcdujCbX4jJw&oe=676F9019" alt="Meme 2">
        <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/469365835_568318285792462_5248518467335874987_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=4GmIUnLRdnYQ7kNvgFNzOva&_nc_oc=AdjZd-ZBkHOp_TECxBwZKl5ZRujwQ_XELz3wI1LSyPyfyRXoOGHQeVMHUMt_6NI3rGU&_nc_zt=23&_nc_ht=scontent.fsrz1-2.fna&_nc_gid=An_IYbEsv_3zeNz60No_ZUP&oh=00_AYBGEqAgfSVQC90Dc8AxQiW9Cr7SKyJSW0Eqg1qdlZRl2w&oe=676F894C" alt="Meme 1">
        <img src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/406467782_339728425333437_5345980585196170957_n.jpg?stp=dst-jpg_s206x206_tt6&_nc_cat=111&ccb=1-7&_nc_sid=50ad20&_nc_ohc=jiJyf7-51X0Q7kNvgFrbGCd&_nc_oc=Adh8HSnzbEs6ZcaZ1P4VgUWn3d8xdv_d-zeifq3AtjhDzJxtwCL75iQ0hxDkEa0jea4&_nc_zt=23&_nc_ht=scontent.fsrz1-1.fna&_nc_gid=AGVonHDauOCT6sgM9VCoXmt&oh=00_AYAEG5qUbOhmigkya7nu26-kfb1pLIcci3dBvU3Ze95MQw&oe=676F890C" alt="Meme 2">
    </div>
</section>
<section id="videos">
    <h2>¡Disfruta Nuestros Videos!</h2>
    <p>Explora algunos de nuestros videos y aprende más sobre nuestros productos y eventos.</p>
    <div class="videos">
        <div class="video">
            <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Flicoreriaa%2Fvideos%2F3611674435815616%2F&show_text=false&width=269&t=0" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Flicoreriaa%2Fvideos%2F873519110366922%2F&show_text=false&width=267&t=0" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
        </div>
    </div>
</section>


<footer>
    <p>&copy; 2024 Licorería El Buen Trago | Todos los derechos reservados</p>
</footer>

</body>

